@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: #fefae0;
}

.container {
  margin: auto;
  width: 800px;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 20px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: #48512c;
}

section {
  border-radius: 9px;
  box-shadow: 0 12px 30px rgba(43, 27, 14, 0.45);
  aspect-ratio: 1 / 2;
  width: 90vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ffefdd;
}

.theme {
  height: 2rem;
}

.displays {
  border-radius: 9px;
}

.display {
  color: #2b1b0e;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.display:nth-child(1) {
  margin-top: -40px;
  height: 6rem;
  font-size: 3rem;
  font-weight: 900;
}

.display:nth-child(2) {
  height: 4rem;
  font-size: 2rem;
  font-weight: 600;
}

hr {
  border: 2px solid rgba(63, 48, 28, 0.7);
  margin: 0 -20px 30px -20px;
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  font-size: 2rem;
  font-weight: 4500;
  box-shadow: 2px 2px 5px rgba(63, 48, 28, 0.5);
  color: #2b1b0e;
}

button:hover {
  box-shadow: 2px 2px 5px rgb(63, 48, 28);
}

.bigButtons {
  display: flex;
  gap: 1rem;
}

.bigButtons button {
  aspect-ratio: 2.5/1;
  width: calc(50% - 0.5rem);
}

.smallButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.smallButtons button {
  aspect-ratio: 1/1;
  width: calc(25% - 0.75rem);
}

.backspace {
  font-size: 3rem;
}

.number:active,
.dot:active {
  background-color: #f4d49b;
}

.operator,
.backspace {
  background-color: #dda15e;
}

.evaluator,
.clear {
  font-weight: 600;
}

.evaluator {
  background-color: #ffc465;
}

.clear {
  background-color: #bc6c25;
}

footer {
  margin-top: 20px;
  height: 2.5rem;
  width: 100%;
}

footer p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #bc6c25;
}

a:hover {
  color: #ffc465;
}
