@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+TAS:wght@100..400&display=swap");

:root {
  --radius-padding: 8px;
  --operator-size: 1.5rem;
  --shadow-brown: rgba(63, 48, 28, 0.5);

  --calculator-background: #f0d6c1;
  --display-background: #f7f3e8;
  --numeric-background: #f0e0d0;
  --operator-background: #d69264;
  --evaluator-background: #9aa16b;
  --clear-background: #c37a67;

  --numeric-hover: #e8cfae;
  --numeric-active: #e0b991;

  --operator-hover: #e2a377;
  --operator-active: #c9784d;

  --evaluator-hover: #aab97b;
  --evaluator-active: #879050;

  --clear-hover: #d16f5a;
  --clear-active: #b55644;

  --terracotta: #e35336;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease,
    transform 0.1s ease;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  text-align: center;
  letter-spacing: 1px;
  font-family: "Playwrite AU TAS", cursive;
  font-size: 1.3rem;
  font-weight: 800;
  color: #a65d47;
  text-shadow: 2px 3px 6px rgba(43, 27, 14, 0.5);
}

section {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--calculator-background);
  box-shadow: 0 15px 35px rgba(43, 27, 14, 0.35);
  border: 1px solid rgba(63, 48, 28, 0.1);
  border-radius: var(--radius-padding);
}

.theme {
  align-self: flex-start;
}

.displays {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(43, 27, 14, 0.15);
  border: 1px solid rgba(63, 48, 28, 0.1);
}

.display {
  background-color: var(--display-background);
  word-break: break-all;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 500;
  min-height: calc(3rem + var(--radius-padding));
  border-radius: var(--radius-padding) var(--radius-padding) 0 0;
}

.display:last-of-type {
  min-height: calc(2rem + var(--radius-padding));
  border-radius: 0 0 var(--radius-padding) var(--radius-padding);
  color: var(--olive);
}

.button {
  border-radius: var(--radius-padding);
  aspect-ratio: 1/1;
  width: calc(25% - 0.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(63, 48, 28, 0.2);
  box-shadow: 2px 3px 6px var(--shadow-brown);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    box-shadow: 2px 5px 10px rgba(63, 48, 28, 0.3);
  }
}

.button:active {
  transform: scale(0.95);
  box-shadow: inset 2px 2px 5px rgba(63, 48, 28, 0.5);
}

.number,
.dot {
  background-color: var(--numeric-background);
}

.number:hover,
.dot:hover {
  background-color: var(--numeric-hover);
}

.number:active,
.dot:active {
  background-color: var(--numeric-active);
}

.operator,
.backspace {
  background-color: var(--operator-background);
  color: var(--brown-deep);
  font-size: var(--operator-size);
}

.operator:hover,
.backspace:hover {
  background-color: var(--operator-hover);
}

.operator:active,
.backspace:active {
  background-color: var(--operator-active);
}

.evaluator {
  background: var(--evaluator-background);
}

.evaluator:hover {
  background-color: var(--evaluator-hover);
}

.evaluator:active {
  background-color: var(--evaluator-active);
}

.clear {
  background: var(--clear-background);
  color: #fffdf8;
}

.clear:hover {
  background-color: var(--clear-hover);
}

.clear:active {
  background-color: var(--clear-active);
}

.clear,
.evaluator {
  box-shadow: 0 4px 8px rgba(63, 48, 28, 0.3);
  font-size: var(--operator-size);
}

.clear:hover,
.evaluator:hover {
  filter: brightness(1.2);
  transform: translateY(-2px);
}

.clear:active,
.evaluator:active {
  transform: scale(0.95);
}

.bigButtons {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.bigButtons div {
  aspect-ratio: 2.5/1;
  width: calc(50% - 0.5rem);
}

.smallButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.smallButtons .button {
  aspect-ratio: 1/1;
  width: calc(25% - 0.75rem);
}

a {
  color: var(--terracotta);
  font-weight: 700;
  transition: color 0.2s;
  text-decoration: none;
}

a:hover {
  color: var(--operator-hover);
}

footer {
  font-size: 1.1rem;
}

@media (min-width: 599px) {
  body {
    padding: 0;
    margin: 0;
  }

  .container {
    height: 100vh;
    justify-content: space-between;
  }

  header {
    margin-top: 30px;
    font-size: 1.7rem;
  }

  section {
    width: 300px;
  }

  footer {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 409px) {
  footer p {
    text-align: center;
  }
}
