:root {
  --radius-padding: 8px;
  --operator-size: 1.5rem;
  --sand-light: #fefae0;
  --sand-dark: #e9e2c4;
  --beige: #ffefdd;
  --brown-deep: #2b1b0e;
  --shadow-brown: rgba(63, 48, 28, 0.5);
  --orange-earth: #dda15e;
  --orange-deep: #c58442;
  --terracotta: #bc6c25;
  --terracotta-dark: #99531d;
  --yellow-earth: #ffc465;
  --yellow-deep: #f4b942;
  --olive: #48512c;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease,
    transform 0.1s ease;
}

body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(
    180deg,
    var(--sand-light) 0%,
    var(--sand-dark) 100%
  );
  color: var(--brown-deep);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

header {
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  font-weight: 800;
}

section {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--beige);
  box-shadow: 0 15px 35px rgba(43, 27, 14, 0.35);
  border: 1px solid rgba(63, 48, 28, 0.1);
  border-radius: var(--radius-padding);
}

.theme {
  align-self: flex-start;
}

.displays {
  width: 100%;
  border-radius: 7px;
}

.display {
  border: 1px solid black;
  background: linear-gradient(180deg, #fdf6eb, #f6e3cb);
  word-break: break-all;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: right;
}

.display:nth-of-type(1) {
  min-height: calc(3rem + var(--radius-padding));
  border-radius: var(--radius-padding) var(--radius-padding) 0 0;
}

.display:last-of-type {
  min-height: calc(2rem + var(--radius-padding));
  border-radius: 0 0 var(--radius-padding) var(--radius-padding);
  color: var(--olive);
}

.button {
  border-radius: var(--radius-padding);
  aspect-ratio: 1/1;
  width: calc(25% - 0.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(63, 48, 28, 0.2);
  box-shadow: 2px 3px 6px var(--shadow-brown);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    box-shadow: 2px 5px 10px rgba(63, 48, 28, 0.3);
  }
}

.button:active {
  transform: scale(0.95);
  box-shadow: inset 2px 2px 5px rgba(63, 48, 28, 0.5);
}

.number {
  background-color: #f8e1b5;
}

.number:hover {
  background-color: #f6d799;
}

.number:active {
  background-color: #f3c772;
}

.operator,
.backspace {
  background-color: var(--orange-earth);
  color: var(--brown-deep);
  font-size: var(--operator-size);
}

.operator:hover,
.backspace:hover {
  background-color: #e6a76b;
}

.operator:active,
.backspace:active {
  background-color: var(--orange-deep);
}

.evaluator {
  background: linear-gradient(180deg, var(--yellow-earth), var(--yellow-deep));
  color: var(--brown-deep);
}

.clear {
  background: linear-gradient(
    180deg,
    var(--terracotta),
    var(--terracotta-dark)
  );
  color: #fffdf8;
}

.clear,
.evaluator {
  box-shadow: 0 4px 8px rgba(63, 48, 28, 0.3);
  font-size: var(--operator-size);
}

.clear:hover,
.evaluator:hover {
  filter: brightness(1.2);
  transform: translateY(-2px);
}

.clear:active,
.evaluator:active {
  transform: scale(0.95);
}

.bigButtons {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.bigButtons div {
  aspect-ratio: 2.5/1;
  width: calc(50% - 0.5rem);
}

.smallButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.smallButtons .button {
  aspect-ratio: 1/1;
  width: calc(25% - 0.75rem);
}

a {
  color: var(--terracotta);
  font-weight: 700;
  transition: color 0.2s;
  text-decoration: none;
}

a:hover {
  color: var(--yellow-earth);
}
