body {
 background-color: salmon;
}

#container {
  background-color: white;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: "Rampart One", sans
}